.header {
    background: rgba(var(--c-rgb-base), .05);
    padding: 1rem 0;

    position: relative;
    z-index: 2;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5%;
}

.header__toggler {
    display: none;
}

.header__addons {
    display: flex;
    align-items: center;
    gap: .25rem;
    margin-left: auto;
}

.header__addon {
    padding: 1em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


@media only screen and (max-width: 1200px) {
    .header__container {
        gap: 0;
    }

    .header__addons {
        display: none;
    }

    .header__toggler {
        display: block;
    }

    .header__menu {
        background: var(--c-base);
        flex-direction: column;

        padding: inherit;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 0;

        overflow: hidden;
        z-index: -1;

        transition: height, padding, opacity;
        transition-duration: .125s;
        transition-timing-function: ease;
    }

    .header__menu .menu__items {
        height: 20rem;

        flex-direction: column;
        align-items: stretch;
        gap: .5rem;
        flex-wrap: wrap;
    }

    .header__menu .menu__item {
        padding-left: 0;
        padding-right: 0;
        opacity: 0;
    }


    .header__menu_open {
        height: 100vh;
        padding-top: 10rem;
    }

    .header__menu_open .menu__item {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .header__menu .menu__items {
        height: auto;
    }
}